body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
h1{
    font-size: 100px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: white;
    text-shadow: 5px 5px 20px #000;
}
h2{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: white;
    text-shadow: 5px 5px 20px #000;
}
h3{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: #262626;
}
h4{
    color:white;
    text-shadow: 5px 5px 20px #000;
}

.footer-text{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    font-size: 15px;
}
a, a:visited{
    color:#262626;
}
a:hover, a:active{
    text-decoration: none;
    color:#1a2784;
}
li{
    list-style: none;
    text-align: left;
  
}
.intro-section {
    height: 100%;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: url("../Images/intro.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    
}

.about-section {
    height: 100%;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    line-height: 25px;
    text-align: left;
   background: #262626;
}
.images{
    float:left;
}

.tel-section {
    height: 120%;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    text-align: center;
     background-image: url("../Images/tv.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-section {
    height: 100%;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    text-align: center;
    background: #262626;
}
.fa-angle-down{
    color:white;
}
.text-muted{
    padding-top: 10px;
    height:40px;
    text-align: center;
}
.white{
    color: white;
    text-shadow: 5px 5px 20px #000;
}
.fa-youtube-play:hover, .fa-angle-down:hover{
    color: #1a2784;
}
.contact-info{
    text-align: center;
    line-height: 30px;
}