body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif; 
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
h1{
    font-size: 100px;
    font-weight: 600;
    color: white;
    text-shadow: 5px 5px 20px #000;
}
h2{
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 5px 5px 20px #000;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}
h4{
    color:white;
}

.footer-text{
    font-weight: 600;
    font-size: 15px;
}
a, a:visited, a:active{
    text-decoration: none;
    color:#262626;
}
a:hover{
    text-decoration: none;
    color:#2c6ff8;
}
li{
    list-style: none;
    text-align: left;  
}
.termsList{
    list-style: circle;
    text-align: left;
}
.intro-section {
    height: 100%;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: url("../Images/intro.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
}
#intro{
    margin-top: 0px;
}
.about-section {
    height: 100%;
    padding-top: 50px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    background: #262626;
}
.stand-section {
    height: 70%;
    padding-top: 50px;
    font-weight: 300;
    line-height: 45px;
    text-align: center;
    background-image: url("../Images/phil2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#phil{
    line-height: 40px;
}
.tel-section {
    height: 120%;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
    background-image: url("../Images/tv.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-section {
    height: 110%;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
    background: #262626;
}
.map-section {
    height: 40%;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
    background: #CCC
}
.terms-section {
    height: 270%;
    padding-top: 50px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    background: #262626;
}
.terms2-section {
    height: 200%;
    padding-top: 50px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    background: #f8f8f8;
}
.terms3-section {
    height: 50%;
    padding-top: 50px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    background: #262626;
}
.fa-angle-down{
    color:white;
    margin-top: 50%;
}
.fa-angle-down:hover{
    color:#2c6ff8;
}
.text-muted{
    padding-top: 10px;
    height:40px;
    text-align: center;
}
.white{
    color: white;
    text-shadow: 5px 5px 20px #000;
}
.fa-youtube-play:hover{
    color: black;
}
.contact-info{
    text-align: right;
    line-height: 30px;
    padding-right: 30px;
    font-size: 15px;
}
.fa-phone, .fa-envelope{
    color:#2c6ff8;
    padding-right: 5px;
    
}
.fa-facebook-square, .fa-twitter-square, .fa-google-plus-square, .fa-linkedin-square{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    
}
.fa-facebook-square:hover{
    color:#3A5795;
    padding-left: 5px;
    padding-right: 5px;
}
.fa-twitter-square:hover{
    color:#55ACEE;
    padding-left: 5px;
    padding-right: 5px;
}
.fa-google-plus-square:hover{
    color:#DD4B39;
    padding-left: 5px;
    padding-right: 5px;
}
.fa-linkedin-square:hover{
    color:#489DC9;
    padding-left: 5px;
    padding-right: 5px;
}
.fa-quote-left, .fa-quote-right, .fa-youtube-play{
    color:#2c6ff8;
}
.group-image{
    margin-top: 40px;
}
#submitbutton{
    float:right;
}
#formContainerLeft {
    width:40%;
    display: inline-block; 
}
#formContainerRight {
    width:40%;
    margin-left: 10%;
    display: inline-block;
}
.whiteLeft{
    color:white;
    text-align:left;
}
.blackLeft{
    color:#262626;
    text-align:left;
}
.black{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}
.modalImage {
    text-align: center;
}
#lightBlue{
    color: #2c6ff8;
    text-align:left;
}
#modalLogo {
    margin-bottom: 10px;
}

#formContainerBottom {
    width:100%;
    display: inline-block; 
}
